@model FakeWebcomic.Client.Models.MainAboutModel

<h1>Welcome to FakeWebcomic!</h1>
<p>
    FakeWebcomic is a site dedicated to making your webcomic a reality. We design, create, and maintain the webpages for you, so you only need to worry about the content.
</p>
<p>We are currently host to @Model.NumberOfComicBooks, with @Model.NumberOfPages pages between them!</p>
