@model FakeWebcomic.Client.Models.MainArchiveViewModel

@{
    Layout = "_MainLayout";
}

@foreach (var comicbook in Model.ComicBooks)
{
    <a type="button" method="get" asp-controller="comics" asp-action="GetPage" asp-route-webcomicname="@comicbook.Title"
    asp-route-pagenumber="0">@comicbook.Title</a>
}
