@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FakeWebcomic.Client.Models.ComicPageViewModel

<p class="justify-content-center">Congrajulations! Your page has been successfully added/updated!</p>

@Html.Partial("MiddlePage",Model)