@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FakeWebcomic.Client.Models.ComicBookViewModel

@{
    ViewData["WebcomicTitle"] = Model.Title;
    ViewData["PageTitle"] = "About";
}

@*open success/fail view in new tab*@
<form target="_blank" asp-area="" asp-controller="Main" asp-action="PostWebcomic" method="post" asp-antiforgery="true">
    @Html.Partial("AboutForm",Model)
    <button type="submit">Create Webcomic!</button>
</form>
